{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <fieldset>
            <p>View UPDATE</p>
            <form action="" method="POST">
                <input type="text" name="author" value="{{post.author}}" required/>
                <label>Title<input type="text" name="title" value="{{post.title}}" required/></label>
                <label>Body
                    <textarea type="text" id="content" name="content" rows="20">{{post.content}}</textarea>
                </label>
                <label>Published
                    <select name="published">
                        {% if post.published == "True" %}
                        <option value="True" selected>Yes</option>
                        <option value="False">No</option>
                        {% else %}
                        <option value="True">Yes</option>
                        <option value="False" selected>No</option>
                        {% endif %}
                    </select>
                </label>
                <button class="button " type="submit">Update</button>
            </form>
        </fieldset>
    </div>
</div>
{% endblock %}